.listItems {
    font-family: var(--font-montserrat);
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    list-style-type: disc;
    color: black;
}

.listItems::marker {
    color: var(--primary-red);
}

.link {
    color: var(--text-black);
    word-break: break-all;
}

.link :hover {
    color: var(--primary-red);
}

.link {
    color: var(--primary-green);
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-base);
    padding-top: var(--padding-base);
}

@media screen and (max-width: 1023px) {
    .listItems {
        font-size: var(--font-size-sm);
    }

    .list {
        padding: var(--padding-base);
    }
}