@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    line-height: normal;
    margin-top: 94.7px;
}

@media screen and (max-width: 1023px) {
    body {
        margin-top: 87.7px;
    }
}

@media screen and (max-width: 599px) {
    body {
        margin-top: 56.2px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

:root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-playfair-display: "Playfair Display";
    --font-red-hat-display: "Red Hat Display";
    --font-inter: Inter;

    /* font sizes */
    --font-size-10-xs: 10px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-3xl: 22px;
    --font-size-lg: 18px;
    --font-size-27xl: 46px;
    --font-size-18xl: 37px;
    --font-size-9xl: 28px;
    --font-size-63xl: 82px;
    --font-size-45xl: 90px;
    --font-size-22xl: 41px;
    --font-size-6xl: 25px;
    --font-size-xl: 20px;
    --font-size-16: 16px;
    --font-size-19xl: 38px;
    --font-size-10xl: 29px;
    --font-size-42xl: 42px;
    --font-size-29xl: 48px;
    --font-size-53xl: 72px;
    --font-size-39xl: 58px;
    --font-size-24xl: 43px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-21xl: 40px;
    --font-size-109xl: 128px;
    --font-size-32xl: 51px;
    --font-size-36xs: 36px;
    --font-size-42xs: 42px;
    --font-size-52xs: 52px;
    --font-size-112xs: 112px;
    --font-size-64xl: 64px;

    /* Colors */
    --color-whitesmoke-100: #f7f7f7;
    --color-whitesmoke-200: #f7f7f7;
    --support-grey-bg: #f2f2f2;
    --support-white: #fff;
    --text-grey-body-text: #4d4d4d;
    --color-mintcream-100: #f7fff7;
    --color-mintcream-200: #f1f8f4;
    --color-mintcream-300: #f1f8f4;
    --color-gray-100: #8a8a8a;
    --text-black: #020202;
    --color-gray-200: rgba(2, 2, 2, 0.05);
    --color-gray-300: rgba(0, 0, 0, 0.5);
    --primary-red: #cd342b;
    --color-aliceblue: #d7f1ff;
    --primary-green: #09843e;
    --color-mediumseagreen-100: #30ab63;
    --color-mediumseagreen-200: rgba(48, 171, 99, 0.09);
    --color-mediumseagreen-300: rgba(17, 173, 107, 1);
    --color-darkslategray: #303030;
    --color-black: #000;
    --color-darkgray: rgba(169, 169, 169, 0.5);
    --color-gainsboro: #d9d9d9;
    --color-liteGray: #c6c6c6;
    --color-silver: #c6c6c6;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #d9d9d9;
    --color-gray: #4d4d4d;
    --color-whitesmoke-300: #efefef;
    --color-darkslategray-100: #2f3130;
    --color-darkslategray-200: #303030;
    --color-light-green: #67a249;
    --color-whitesmoke: #EBF2EC;
    --color-background: #3E3E3E4D;
    --color-border: #CBCBCB;
    --color-placeholder: #A2A2A2;
    --color-light-gray: #F9F9F9;
    --color-whitesmoke-400: #f5f5f5;
    --color-background2: #3e3e3e66;

    /* Spacing */
    --spacing-lg: 12px;

    /* Gaps */
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-xl: 20px;
    --gap-31xl: 50px;
    --gap-6xl: 25px;
    --gap-mini: 15px;
    --gap-sm: 14px;
    --gap-4xs: 9px;
    --gap-mid: 17px;
    --gap-2xs: 11px;
    --gap-21xl: 40px;
    --gap-5xs: 8px;
    --gap-xs: 12px;
    --gap-5xl: 24px;
    --gap-316xl: 335px;
    --gap-148xl: 167px;
    --gap-65xl: 84px;
    --gap-23xl: 42px;
    --gap-9xs: 4px;
    --gap-3xs: 10px;
    --gap-3xs-4: 9.4px;
    --gap-41xl: 60px;
    --gap-11xl: 30px;
    --gap-81xl: 100px;
    --gap-29xl: 48px;
    --gap-7xs: 6px;
    --gap-61xl: 80px;
    --gap-12xs-1: 0.1px;
    --gap-749xl-2: 768.2px;
    --gap-77xl: 96px;
    --gap-173xl: 192px;
    --gap-365xl: 384px;
    --gap-4xl-9: 23.9px;
    --gap-25xl: 44px;
    --gap-3xl: 22px;
    --gap-16xl: 35px;
    --gap-46xl-8: 65.8px;
    --gap-14xl: 33px;
    --gap-3xs-9: 9.9px;
    --gap-20xl: 39px;
    --gap-lgi: 19px;
    --gap-18xl: 40px;
    --gap-7xl: 26px;
    --gap-75xs: 75px;

    /* Paddings */
    --padding-21xl: 40px;
    --padding-5xs: 8px;
    --padding-7xl: 26px;
    --padding-xl: 20px;
    --padding-5xs-5: 7.5px;
    --padding-6xs-9: 6.9px;
    --padding-81xl: 100px;
    --padding-23xl: 42px;
    --padding-46xl: 65px;
    --padding-xs: 12px;
    --padding-13xl: 32px;
    --padding-3xs: 10px;
    --padding-3ls: 10.59px;
    --padding-lgi: 19px;
    --padding-base-5: 15.5px;
    --padding-11xs: 2px;
    --padding-base: 16px;
    --padding-mid: 17px;
    --padding-mini: 15px;
    --padding-73xl: 92px;
    --padding-27xl: 46px;
    --padding-223xl: 242px;
    --padding-61xl: 80px;
    --padding-257xl: 276px;
    --padding-119xl: 138px;
    --padding-8xs: 5px;
    --padding-41xl: 60px;
    --padding-33xl: 52px;
    --padding-20xl: 39px;
    --padding-6xs: 7px;
    --padding-3xl: 22px;
    --padding-5xl: 24px;
    --padding-10xs: 3px;
    --padding-12xs-5: 0.5px;
    --padding-6xl-5: 25.5px;
    --padding-7xl-5: 26.5px;
    --padding-smi: 13px;
    --padding-2xs: 11px;
    --padding-350xl: 369px;
    --padding-6xl: 25px;
    --padding-221xl: 240px;
    --padding-31xl: 50px;
    --padding-11xl: 30px;
    --padding-12xs-9: 0.9px;
    --padding-8xl: 27px;
    --padding-15xl: 34px;
    --padding-29xl: 48px;
    --padding-sm: 14px;
    --padding-lg-5: 18.5px;
    --padding-368xl: 387px;
    --padding-233xl: 252px;
    --padding-57xl: 76px;
    --padding-30xl: 49px;
    --padding-4xs: 9px;
    --padding-lg: 18px;
    --padding-19xl: 38px;
    --padding-207xl: 226px;
    --padding-306xl: 325px;
    --padding-128xl: 147px;
    --padding-192xl: 211px;
    --padding-10xl: 29px;
    --padding-60xl: 79px;
    --padding-12xs: 1px;
    --padding-7xs: 6px;
    --padding-xs-5: 11.5px;
    --padding-93xl: 112px;
    --padding-85xl: 104px;
    --padding-37xl: 56px;
    --padding-9xl: 28px;
    --padding-35xl: 54px;
    --padding-14xl: 33px;
    --padding-252xl: 271px;
    --padding-251xl: 270px;
    --padding-157xl: 176px;
    --padding-156xl: 175px;
    --padding-83xl: 102px;
    --padding-22xl: 41px;
    --padding-mid-4: 17.4px;
    --padding-2xl: 21px;
    --padding-1164xl: 1183px;
    --padding-481xl: 500px;
    --padding-750xl: 769px;
    --padding-497xl: 516px;
    --padding-126xl: 145px;
    --padding-199xl: 218px;
    --padding-42xl: 61px;
    --padding-316xl: 335px;
    --padding-75xl: 94px;
    --padding-173xl: 192px;
    --padding-6xs-5: 6.5px;
    --padding-321xl: 340px;
    --padding-66xl: 85px;
    --padding-151xl: 170px;
    --padding-77xl: 96px;
    --padding-54xl: 73px;
    --padding-89xl-1: 108.1px;
    --padding-41xl-5: 60.5px;
    --padding-84xl: 103px;
    --padding-7xs-5: 5.5px;
    --padding-4xs-8: 8.8px;
    --padding-4xs-7: 8.7px;
    --padding-237xl-9: 256.9px;
    --padding-273xl-1: 292.1px;
    --padding-148xl: 167px;
    --padding-171xl: 190px;
    --padding-127xl: 146px;
    --padding-4xl: 23px;
    --padding-9xs: 4px;
    --padding-17xl: 36px;
    --padding-39xl: 58px;
    --padding-52xl-7: 71.7px;
    --padding-111xl: 130px;
    --padding-103xl-5: 122.5px;
    --padding-28xl: 47px;
    --padding-12xl: 31px;
    --padding-5xl-1: 24.1px;
    --padding-421xl: 440px;
    --padding-64xl: 83px;
    --padding-25xl: 44px;
    --padding-2xs-5: 10.5px;
    --padding-51xl: 51px;
    --padding-60: 60px;
    --padding-66xl: 66px;
    --padding-45xl: 45px;
    --padding-2xll: 91.5px;
    --padiing-48xl: 48.47px;
    --padding-84xs: 84px;
    --padding-27xs: 27.5px;
    --padding-82xs: 82px;
    --padding-47xl: 64px;
    --padding-70xl: 70px;
    --padding-409xs: 40.09px;
    --padding-128px: 128px;
    --padding-120: 120px;
    --padding-95: 95px;
    --padding-101: 101px;
    --padding-158: 158px;

    /* Border radiuses */
    --br-7xs: 6px;
    --br-base: 16px;
    --br-5xs: 8px;
    --br-381xl: 400px;
    --br-80xl: 99px;
    --br-11xs: 2px;
    --br-9xs: 4px;
    --br-3xs: 10px;
    --br-7xs: 6px;
    --br-xs: 12px;
    --br-xxl: 400px;

    /* Effects */
    --text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    --text-shadow2: 0px 2px 3px rgba(0, 0, 0, 0.8);
    --card: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --card-shadow: 0px 4px 10px 0px #E8E8E8;
    --card-shadow1: 0px 4px 4px 0px #00000040;
    --box-shadow: 0px 10px 30px 0px #09422233;
    --button-color: linear-gradient(90deg, #19AC58 0%, #077F3B 100%);
}